# Build y Gradle
.gradle/
/build
/captures/
.externalNativeBuild/
.cxx/
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries

# OS junk
.DS_Store
Thumbs.db
